body {
  margin: 2em;
}

body
{
  margin: 2em;
  display: flex;
  justify-content: center;
}

.container
{
  display: flex;
  flex-wrap: wrap;
  width: 52em;
}

.square
{
  border-style: solid;
  border-width: 0.1em;
  border-color: #f5f8f7;
  width: 6em;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number
{
   color: #06010c;
}

.even
{
  background-color: green;
}

.odd
{
  background-color: orange;
}

.prime
{
  background-color: red;
}